{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:storybook/recommended"
    ],
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2020,
        "ecmaFeatures": { "jsx": true }
    },
    "rules": {
        "react/prop-types": "off",
        "no-unused-vars": "warn"
    },
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": ["react"]
}
